.stars span {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.stars input[type="radio"] {
  display: none;
}

.stars label {
  color: #d2d2d2;
  font-size: 30px;
  padding: 0 5px;
  cursor: pointer;
}

.stars label:hover,
.stars label:hover ~ label,
.stars input[type="radio"]:checked ~ label {
  color: #f8c601;
}
